<li class="note {{#if finished}}is-finished{{/if}}" data-note="{{uid}}">
    <div class="note__action">
        <input class="note__finish-checkbox" type="checkbox"{{#if finished}} checked="checked"{{/if}} data-finish-note>
    </div>
    <div class="note__content">
        <p class="note__title">{{title}}</p>
        <p class="note__description">{{description}}</p>
    </div>
    <div class="note__meta">
        <div class="note__importance">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <div class="note__duedate">
            {{#if finished}}
                Finished: {{finishedFormated}}
            {{else}}
                Due: 20.06.2017
            {{/if}}
        </div>
        <div class="note__edit-wrapper">
            <a href="#" class="note__edit-link" data-note-edit>
                <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;bearbeiten
            </a>
            &nbsp;&nbsp;
            <a href="#" class="note__delete-link" data-note-delete>
                <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;&nbsp;löschen
            </a>
        </div>
    </div>
</li>
